<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- action에 적는 주소는 서버의 함수이름이 아니고 어노테이션으로 만들어준 주소 적는거임 -->
    <form action="/add">
      <label for="">값1</label>
      <input type="text" name="val1" />
      <br />

      <label for="">값2</label>
      <input type="text" name="val2" />
      <br />

      <button>더하기</button>
    </form>
  </body>
</html>
